
body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-size: 0.8em;
}

a:link    {
    color: #000000;
    text-decoration: underline;
}  /* unvisited links */
a:visited { color: #000000 }  /* visited links   */
a:hover   { background: #f6f6f6 }  /* user hovers     */
a:active  { color: #f6f }  /* active links    */

/* Navigation bar text */
.navbar-default {
  font-family: "Helvetica Neue", Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: 200;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word; /* Ensures very long heading words do not overflow into content. */
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2em;
  color: #2b2b2b;
}

.subtitle {
    font-size: 1.5em;
    color: #666;
    text-align: center;
}

code {
    /*display: block;*/
    margin: 0 0 0;
    /*font-size: 13px;*/
    line-height: 1.42857143;
    /*word-break: break-all;
    word-wrap: break-word;*/
    color: #333333;
    /*border: 1px solid #cccccc;*/
    background-color: #d5d5d5;
    border-radius: 3px;
    font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
    padding: 2px;
}

.hljs{
    background-color: #d5d5d5;
}

.hljs-meta{
    color: #333333;
    font-weight:normal;
}
.bash{
    color: #333333;
}

pre{
    padding: 3px;
    border: 1px solid #cccccc;
    font-style: normal;
    background-color: #d5d5d5;
}

.hljs-comment, .hljs-quote {
    color:#333;
    font-style: normal;
}

.column-left{
      float: left;
      width: 33%;
      text-align: left;
}
.column-center{
      display: inline-block;
      width: 33%;
      text-align: center;
}
.column-right{
      float: right;
      width: 33%;
      text-align: right;
}

.col2 {

    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
    columns: 2 200px;         /* number of columns and width in pixels*/
}
.col3 {
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
    columns: 3 100px;
}

/* for image caption */
img + em {
    font-style: italic;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin-bottom: 60px;
}

/* styling for alert and warning boxes*/
.alert-warning {
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border-color: #fff;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         2px 2px 3px 3px #ccc;
}

.alert-note {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         2px 2px 3px 3px #ccc;
}

div.alert p {
  position: relative;
  display: block;
  font-size: 0.7rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

div.alert a {
  color: #000;
  text-decoration: none;
  border-bottom: solid 1px #e4e4e4;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

div.alert a:hover {
  border-bottom-color: transparent;
  color: rgba(255,255,255,0.5) !important;
}

div.alert p:first-child::before {
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  color: #87CEFA;
  content: '\f05a';
  width: 1.5rem;
  text-align: center;
}

div.alert-warning p:first-child::before {
  content: '\f071';
  color: #FF0000;
}
